@tailwind base;
@tailwind components;
@tailwind utilities;


.theme {
  transition: 1s all ease;
}

.dark {
  background-color: black;
  color: #bbb
}

.light {
  background-color: white;
  color: #111
}